@import "../../css/media.css";

.header {
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  padding: 20px 50px;
  background-color: var(--header-bg);
  position: fixed;
  z-index: 1000;

  @media (--phone) or (--tablet) {
    padding: 5px 10px;
    height: 80px;
  }
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
  min-width: 120px;
  cursor: pointer;

  @media (--phone) or (--tablet) {
    display: none;
  }
}

.logoSm {
  width: 60px;

  @media (--desktop) {
    display: none;
  }
}

.headerControls {
  display: flex;
  column-gap: 20px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.menuItem {
  font-size: 18px;
  color: var(--border-color);
  transition: .2s ease-out all;
  display: flex;
  align-items: center;
  column-gap: 5px;

  &:hover {
    color: var(--text-color);
  }

  @media (--phone) {
    @media (--phone) {
      font-size: 25px;
    }

    span {
      display: none;
    }
  }
}

.menuItemActive {
  color: var(--header-account-bg);
  font-size: 25px;

  &:hover {
    color: var(--header-account-bg);
  }

  @media (--phone) {
    font-size: 30px;
  }
}