.header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 20px 115px;
  background-color: var(--header-bg);
}

.headerContent {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20px;
  height: 20px;
}

.headerControls {
  display: flex;
  column-gap: 20px;
}