@import "../../css/media.css";

.canvas {
  position: fixed;
  inset: 0;

  :global(.tlui-page-menu__trigger) {
    display: none;
  }
}

.customControls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 100px;
  z-index: 300;
  column-gap: 20px;
  align-items: flex-start;
}

.customControlPanel {
  background-color: var(--board-panel-bg);
  min-height: 60px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: flex-end;
  column-gap: 15px;

  @media (--phone) or (--tablet) {
    min-height: initial;
    padding: 5px;
  }
}

.controlPanelActions {
  composes: customControlPanel;
}

.controlPanelIcon {
  font-size: 40px;
  cursor: pointer;
  flex-shrink: 0;

  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;

  transition: .2s linear all;

  &:hover {
    background-color: var(--hover-primary-bg);
  }

  @media (--phone) or (--tablet) {
    font-size: 35px;
  }
}

.contextIcon {
  font-size: 30px;

  @media (--phone) or (--tablet) {
    font-size: 25px;
  }
}

.titleInput {
  font-size: 20px;
}

.controlPanelTrigger {
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;

  transition: .2s linear all;

  &:hover {
    background-color: var(--hover-primary-bg);
  }
}

.panelUsers {
  position: absolute;
  background-color: var(--board-panel-bg);
  padding: 10px;
  top: 60px;
  right: 0;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 3px 4px 4px rgba(0, 0, 0, .1);

  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 180px;
}

.panelContainer {
  position: relative;
}

.panelChat {
  composes: panelUsers;
  width: 200px;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-height: 60vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.chatMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  &.myMessage {
    align-items: flex-end;
  }
}

.messageBubble {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #dfdfdf;
  color: #2C3E50;
  width: 100%;
  word-wrap: break-word;

  &.myBubble {
    background-color: var(--btn-primary);
    color: #ECF0F1;
  }
}

.chatInputWrapper {
  display: flex;
  align-items: center;

  svg {
    color: var(--btn-primary);
    font-size: 30px;
    cursor: pointer;
    margin-left: 5px;
  }
}

.chatInput {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  border: 1px solid var(--border-color);
  padding: 5px;
  box-sizing: border-box;

  &:focus, &:focus-visible {
    border-color: var(--text-color);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, .1);
  }
}

.newMessage {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--error);
  position: absolute;
  top: 0;
  right: 0;
}

.activeUserItem {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;

  &:hover {
    .activeUserIcon {
      border-color: var(--text-color);
    }
  }
}

.userName {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
}

.activeUserIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #ECF0F1;
  flex-shrink: 0;
  border: 2px solid transparent;
}

.noContentContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}