@import "../css/media.css";

.content {
  padding: 130px 50px 100px;
  box-sizing: border-box;

  @media (--phone) {
    padding: 100px 20px 80px;
  }
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}